* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Serif" ;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}


body {
  -webkit-text-size-adjust: none;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  width: 190px;
}

.name {
  font-family: "PT Serif", Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #00001e;
}

.logo {
  text-decoration: none;
}

.menu-box {
  border-width: 1px 0;
  border-color: #d9d9de;;
  border-style: solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  text-align: center;
}

.menu-link {
  font-family: "PT Serif", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #00001e;
  position: relative;
}

.menu-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: rgb(27, 123, 210);
  transition: width 0.5s;
}

.menu-link:hover {
  color: rgb(27, 123, 210);
}

.menu-link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  background-color: rgb(27, 123, 210);
  transition: width 0.5s;
}

.menu-burger {
  width: 25px;
  height: 25px;
}

.content {
  padding: 40px 15px;
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.photo-boss img {
  filter: brightness(70%);
}

.direct-speech {
  background-color: hsl(204deg 71% 96%);
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 15px;
  border: 1px solid #d9d9de;

  max-width: 1200px;
}

.speech {
  margin-left: 20px;
}

.speech-boss {
  font-family: "PT Serif", Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  color: #00001e;
  margin-bottom: 15px;
}

.text {
  font-family: "PT Serif", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #00001e;
  margin-bottom: 25px;
}

.position-boss {
  font-family: "PT Serif", Arial, sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: 12px;
  text-decoration: none;
  color: gray;
}

.news-block {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 15px;
  max-width: 1200px;
}

.news-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.news {
  font-family: "PT Serif", Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  color: #00001e;
}

.all-news {
  font-family: "PT Serif", Arial, sans-serif;
  font-weight: regular;
  font-size: 15px;
  color: rgb(27, 123, 210);
}

.news-list {
  display: flex;
  flex-wrap: wrap;
}

.news-today {
  width: 50%;
  margin-top: 20px;
  padding-right: 10px;
}

.news-list-text {
  font-family: "PT Serif", Arial, sans-serif;
  font-weight: regular;
  font-size: 16px;
  text-decoration: none;
  color: #00001e;
}

.news-list-text:hover {
  color: rgb(27, 123, 210);
}

.news-list-time {
  color: gray;
  margin-top: 20px;
  font-size: 12px;
}

.footer {
  background-color: hsl(207, 47%, 43%);
  padding: 20px 100px;
  margin-bottom: 20px;
}

.about {
  text-align: center;
}

.project-team {
  font-family: "PT Serif", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.contacts {
  margin-top: 20px;
  font-family: PT Serif;
  font-weight: regular;
  font-size: 14px;
  color: white;
}

.telegram, .instagram {
  width: 40px;
}

.socials {
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  list-style-type: none;
}

.icon:nth-child(2) {
  margin-left: 5px;
}






@media (min-width: 961px) {
  .menu-list-item:nth-child(n+2) {
    margin-left: 20px;
  }

  .menu-burger {
    display: none;
  }
}

@media (min-width: 761px) and (max-width: 960px) {
  .menu-list-item:nth-child(n+2) {
    margin-left: 10px;
  }

  .menu-burger {
    display: none;
  }
}

@media (max-width: 760px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .header-logo {
    width: 150px;
    margin-right: 0;
  }

  .name {
    font-size: 26px;
    text-align: center;
  }
  .logo {
    text-align: center;
  }

  .menu {
    display: none;
    padding-right: 0;
    padding-top: 15px;
  }

  .menu-box {
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
  }

  .menu-burger {
    display: inline-block;
  }

  .text {
    font-size: 16px;
  }

  .menu-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-list-item:nth-child(n+2) {
    margin-top: 10px;
  }

  .menu-link {
    font-size: 16px;
  }

  .direct-speech {
    flex-direction: column;
    padding: 15px;
  }

  .photo {
    width: 130px;
    height: 130px;
  }

  .speech {
    margin-left: 0;
    margin-top: 20px;
  }

  .position-boss {
      font-size: 12px;
  }

  .news-today {
    width: 100%;
    margin-top: 15px;
  }

  .all-news {
    font-size: 13px
  }

  .news-block {
    padding-top: 40px;
  }



}
