* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Serif" ;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

/* @font-face {
  font-family: "PT Serif" ;
  src: url(../fonts/AmazingGrotesk.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url(../fonts/AmazingGrotesk-DemiBold.ttf);
  font-weight: 700;
  font-style: normal;
} */


body {
  -webkit-text-size-adjust: none;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  width: 300px;
}

.logo {
  text-decoration: none;
}

.menu-box {
  border-width: 1px 0;
  border-color: #d9d9de;;
  border-style: solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  text-align: center;
}

.menu-link {
  font-family: "PT Serif", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #11496D;
  position: relative;
}

.menu-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: rgb(27, 123, 210);
  transition: width 0.5s;
}

.menu-link:hover {
  color: rgb(27, 123, 210);
}

.menu-link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  background-color: rgb(27, 123, 210);
  transition: width 0.5s;
}

.menu-burger {
  width: 25px;
  height: 25px;
}

.focus {
  color: rgb(27, 123, 210);
}

.content {
  padding: 40px 15px;
}

.lifehack {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 15px;
  border: 1px solid #d9d9de;
  max-width: 1200px;
}

.lifehack:nth-child(n+2) {
  margin-top: 25px;
}

.images {
  display: flex;
  min-width: 300px;
  max-width: 300px;
}
.photo {
  width: 100%;
}

.life {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.theme {
  font-family: "PT Serif", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #11496D;
}

.text {
  font-family: "PT Serif", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #11496D;
}


.time_detailes {
  display: flex;
  justify-content: space-between;
}

.time_text {
  font-family: "PT Serif", Arial, sans-serif;
  font-size: 14px;
  font-weight: regular;
  color: gray;
}

.details {
  font-family: "PT Serif", Arial, sans-serif;
  font-size: 14px;
  font-weight: regular;
  color: rgb(27, 123, 210);
}



.footer {
  background-color: #11496D;
  padding: 20px 100px;
  margin-bottom: 20px;
}

.about {
  text-align: center;
}

.project-team {
  font-family: "PT Serif", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.contacts {
  margin-top: 20px;
  font-family: PT Serif;
  font-weight: regular;
  font-size: 14px;
  color: white;
}

.telegram, .instagram {
  width: 40px;
}

.socials {
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  list-style-type: none;
}

.icon:nth-child(2) {
  margin-left: 5px;
}






@media (min-width: 961px) {
  .menu-list-item:nth-child(n+2) {
    margin-left: 20px;
  }

  .menu-burger {
    display: none;
  }
}

@media (min-width: 761px) and (max-width: 960px) {
  .menu-list-item:nth-child(n+2) {
    margin-left: 10px;
  }

  .menu-burger {
    display: none;
  }
}

@media (max-width: 760px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .header-logo {
    width: 200px;
    margin-right: 0;
  }

  .name {
    font-size: 26px;
    text-align: center;
  }
  .logo {
    text-align: center;
  }

  .menu {
    display: none;
    padding-right: 0;
    padding-top: 15px;
  }

  .menu-box {
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
  }

  .menu-burger {
    display: inline-block;
  }

  .menu-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-list-item:nth-child(n+2) {
    margin-top: 10px;
  }

  .menu-link {
    font-size: 16px;
  }

  .lifehack {
    flex-direction: column;
  }

  .images {
    justify-content: center;
    max-width: 1000px;
  }

  .life {
    margin-left: 0px;
    margin-top: 15px;
  }

  .theme {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .time_detailes {
    margin-top: 15px;
  }


}
